    <!-- header starts-->
    <nav id="navbar" class="navbar navbar-expand-md bg-light fixed-top  ">
        <div class="container-md ">
            <a class="navbar-brand   fw-bold  text-secondary" href="#">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                         <img class="ms-3 img-fluid" style="width:90px !important; "
        src="../../assets/CELLA1[1].pdf (2)_big.png" alt="Logo">
            </a>
            <div class="collapse navbar-collapse justify-content-center   align-center" id="navbarSupportedContent">
                <ul class="navbar-nav gap-3 gap-md-5 mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <!-- <a class="nav-link  fw-semibold-uppercase active text-success" aria-current="page" href="../index.html">Home</a> -->
                        <a class="fs-5 fw-semibold link-offset-2 link-dark link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">
                            Home
                          </a>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link  fw-semibold-uppercase text-success" href="#">Brands</a> -->
                        <a class=" fs-5 fw-semibold link-offset-2 link-dark link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" routerLink="brands">
                            Brands
                          </a>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link  fw-semibold-uppercase text-success" href="#">About Us</a> -->
                        <a class=" fs-5 fw-semibold link-offset-2 link-dark link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" routerLink="about">
                            About
                          </a>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link  fw-semibold-uppercase  text-success" href="#">Contact</a> -->
                        <a class=" fs-5 fw-semibold link-offset-2 link-dark link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" routerLink="contact">
                            Contact
                          </a>
                    </li>
                </ul>
            </div>
            <div class="justify-content-end">
                <a href="./pages/login.html" class="btn text-white text-uppercase" style="background-color: #229D96;">Contact Us</a>
            </div>
        </div>
    </nav>
    <!-- header ends -->
