/* .example-form {
    background-color: aqua;
  min-width: 150px ;
  max-width: 500px;
  width: 100%;
}
*/

.example-full-width {
    width: 100%;
} 

.contact-bg-class{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    background-image: url("../../assets/test_pics/Conatct-us-background-img.png");
    height: 100%;
}

/* td {
  padding-right: 8px;
} */

