<div class="container-fluid ">
<div class="row  ">
    <div class="col-12   p-5 mt-5">
        <div class="text-center  m-5">
            <p class="display-5 fw-bold " style="color: #229d96 !important; ;">Shop</p>
        </div>
        <div class="m-2">
            <div class="d-flex justify-content-between ">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">shop</li>
                    </ol>
                  </nav>
                  <div class="pe-3">
                    filter
                  </div>
            </div>
          
        </div>
        <div class="row   row-cols-2 row-cols-md-3 g-2">
            <div class="col">
              <div class="card h-100">
                <img src="https://placehold.co/600x600" class=" card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Asus</h5>
                </div>
            
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://placehold.co/600x600" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Xiomi</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://placehold.co/600x600" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Samsung</h5>
                </div>
             
              </div>
            </div>
            <!-- jkjk -->
            <div class="col">
                <div class="card h-100">
                  <img src="https://placehold.co/600x600" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center">Samsung</h5>
                  </div>
               
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://placehold.co/600x600" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center">Samsung</h5>
                  </div>
               
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://placehold.co/600x600" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center">Samsung</h5>
                  </div>
               
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://placehold.co/600x600" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center">Samsung</h5>
                  </div>
               
                </div>
              </div>
          </div>
    </div>
</div>
</div>