<div class="m-2">
    <div class="d-flex justify-content-between ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">shop</li>
            </ol>
          </nav>
          <div class="pe-3">
            <!-- <button mat-button mat-button-raised (click)="openDialog()">filter</button> -->
          </div>
    </div>
  
</div>
<div class="row   row-cols-2 row-cols-md-3 g-2">
  <!-- main card -->
   
    <!-- main card ends -->
    <div class="col">
      <div class="card h-100">
        <img src="https://placehold.co/600x600" class="card-img-top" alt="...">
        <div class="card-body">
          <a routerLink="brand-detail" class="stretched-link"></a>
          <h5 class="card-title text-center">Xiomi</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://placehold.co/600x600" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Samsung</h5>
        </div>
     
      </div>
    </div>
        <div class="col">
        <div class="card h-100">
          <img src="https://placehold.co/600x600" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Samsung</h5>
          </div>
       
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://placehold.co/600x600" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Samsung</h5>
          </div>
       
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://placehold.co/600x600" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Samsung</h5>
          </div>
       
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://placehold.co/600x600" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Samsung</h5>
          </div>
       
        </div>
      </div>
  </div>